{% extends 'base.html' %}



{% block title %}
    | Home
{% endblock title %}


{% block body %}

<div class="container my-5">
  <div class="row">
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th scope="col">م</th>
          <th scope="col">الاسم</th>
          <th scope="col">من</th>
          <th scope="col">الي</th>
          <th scope="col">التمام الاساسي</th>
          <th scope="col">التمام الفرعي</th>
        </tr>
      </thead>
      <tbody>

        <form method="post">
        {% for tamam in tamams %}  

          <tr>
              {% csrf_token %}
                <th scope="row">{{forloop.counter}}</th>
                <input type="text" class="form-control d-none" name="militry_id" value="{{tamam.user.militry_id}}" hidden>
                <td><input type="text" class="form-control" name="fullname" value="{{tamam.user.fullname}}" readonly></td> 
                <td><input type="date" class="form-control" name="start_date" value="{{tamam.start_date|date:'Y-m-d' }}" ></td> 
                <!-- <td>{{t.start_date}}</td>  -->
                <td><input type="date" class="form-control" name="end_date" value="{{tamam.end_date|date:'Y-m-d'}}" ></td> 
                <td>
                  <select name="tamam_asasy" id="tamam_asasy_{{tamam.id}}" onchange="ChangeFar3y('{{tamam.id}}')" class="form-control" type="text" >
                    <option value="{{tamam.tamam_asasy.id}}">{{tamam.tamam_asasy.name}}</option>
                    {% for t in tamam_asasy %}
                      {% if t.id is not tamam.tamam_asasy.id %}
                        <option value="{{t.id}}">{{t.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td> 
                <td>
                  <select name="tamam_far3y" id="tamam_far3y_{{tamam.id}}" class="form-control testClass" type="text">
                    <option  value="{{tamam.tamam_far3y.id}}">{{tamam.tamam_far3y.name}}</option>
                    {% for t in tamam_far3y %}
                      {% if t.id is not tamam.tamam_far3y.id and t.tamam_asasy == tamam.tamam_asasy %}
                        <option value="{{t.id}}">{{t.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td> 
                
              </tr>
              {% endfor %}
              <td><button type="submit" class="btn btn-primary">حفظ</button></td> 
            </form>
      </tbody>
    </table>
  </div>
</div>

  
{% endblock body %}
  
  
  
  
  
  
  