<div class="mb-3">
    <label for="exampleInputFullname" class="form-label">الاسم بالكامل</label>
    <input type="text" value="{{user.fullname}}" name="fullname" class="form-control" id="exampleInputFullname">
    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  
  
  
  
  
  
  <div class="mb-3">
    <label for="exampleInputmilitry_id" class="form-label">الرقم العسكري</label>
    <input type="text" class="form-control" value="{{user.militry_id}}" name="militry_id" id="exampleInputmilitry_id" aria-describedby="militry_id">
  </div>

  <div class="mb-3">
    <label for="exampleInputmoahl" class="form-label">المؤهل</label>
    <input type="text" class="form-control" id="exampleInputmoahl" value="{{user.moahl}}" name="moahl">
  </div>
  <div class="mb-3">
    <label for="workCategories" class="form-label">نوع الخدمة</label>
    <select value="{{user.work_category}}" name="work_category" class="form-control" id="workCategories">
      <option value="{{user.work_category.id}}">{{user.work_category}}</option>
      {% for workCategory in workCategories %}
        {% if user.work_category.id != workCategory.id %}
          <option value="{{workCategory.id}}">{{workCategory.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="moahltypes" class="form-label">نوع المؤهل</label>
    <select name="moahl_type" class="form-control" id="moahltypes">
      <option value="{{user.moahl_type.id}}">{{user.moahl_type}}</option>
      {% for moahltype in moahltypes %}
        {% if user.moahl_type.id != moahltype.id %}
        <option value="{{moahltype.id}}">{{moahltype.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="ranks" class="form-label">الرتبة</label>
    <select name="rank" class="form-control" id="ranks">
      <option value="{{user.rank.id}}">{{user.rank}}</option>
      {% for rank in ranks %}
      {% if user.rank.id != rank.id %}
        <option value="{{rank.id}}">{{rank.name}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleInputTagnedDate" class="form-label">تاريخ التجنيد</label>
    <input type="date" value="{{user.tagned_date|date:'Y-m-d'}}" name="tagned_date" class="form-control" id="exampleInputTagnedDate">
  </div>
  
  

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">تاريخ التسريح</label>
    <input type="date" value="{{user.end_date|date:'Y-m-d'}}" name="end_date" class="form-control" id="exampleInputEmail1">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">كلمة المرور</label>
    <input type="password" class="form-control" name="password" id="password" aria-describedby="password">
  </div>

  <div class="mb-3">
    <label for="retypepassword" class="form-label">اعد كتابة كلمة المرور</label>
    <input type="password" class="form-control" id="retypepassword" name="retypepassword" aria-describedby="retypepassword">
  </div>



  